/* ==UserStyle==
@name BTN-Highlighter
@author Jimbo
@namespace Jimbo
@description Requires BTN Highlighter script.
@version 0.1.6
==/UserStyle== */

@-moz-document regexp("https?://broadcasthe\\.net/(torrents|series|upload|top10)\\.php.*") {

.torrent-field {
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    word-spacing: normal;
    color: #999;
}

/* Support for one line style */
#discog_table span abbr:first-child::before {
    color: #999;
}

strong.torrent-field {
    font-weight: normal;
}

a.tor_highlight_seed > span {
    font-weight: bold;
}

[data-source*="Bluray"] {
    color: #26a1ff;
}

[data-source="HDTV"] {
    color: #f00;
}

[data-source="WEB-DL"] {
    color: #ff8000;
}

[data-source="WEBRip"] {
    color: #ff329f;
}

[data-container*="ISO"],
[data-container*="M2TS"] {
    color: #be00ff;
}

[data-container*="MP4"] {
    color: #be0000;
}

[data-container*="TS"] {
    color: #ff00c8;
}

[data-container*="AVI"] {
    color: #ffaf00;
}

[data-container*="MKV"] {
    color: #ff4100;
}


[data-codec="h264 10-bit"],
[data-codec="x264-Hi10P"],
[data-codec="H.264"] {
    color: #7deb7d;
}

[data-codec="H.265"],

[data-resolution="2160p"] {
    color: yellow;
}

[data-resolution="1080p"] {
    color: #f1c40f;
}

[data-resolution="720p"] {
    color: red;
}

[data-hdr="DV-P8"],
[data-hdr="DV-P7"],
[data-hdr="DV-HDR"] {
    color: green;
}

[data-hdr="DV-P5"],
[data-hdr="DV"] {
    color: purple;
}

[data-hdr="HLG"] {
    color: pink;
}

[data-hdr="HDR"] {
    color: cyan;
}

[data-type="Internal"] {
    color: #58ff00;
    font-weight: bold !important;
}

[data-type="P2P"] {
    color: #ae83cc;
    font-weight: bold;
}

[data-type="Scene"] {
    color: #ff0000;
    font-weight: bold;
}

[data-type="BHD"] {
    color: #3988cc;
    font-weight: bold;
}

[data-key="5.1ch"] {
    color: #02d3ee;
}

[data-key="7.1ch"] {
    color: #0251ee;
}

[data-key="Subs"] {
    color: #00ffea;
}

[data-key="Dual"] {
    color: #26a1ff;
}

[data-key="Atmos"] {
    color: lightgreen;
}
}